{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Netflix</h1>
                <div class="btn btn-primary">Bootstrap</div>
            </div>
        </div>
    </div>
{% endblock %}
