{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Netflix</h1>
                <a href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        </div>
    </div>
{% endblock %}
