{% extends 'base.html.twig' %}

{% block body %}

    <h1>Tableau de bord :</h1>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('films_add') }}">Ajouter un film</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('filmsAdmin_list') }}">Voir la liste des films</a>
        </li>
    </ul>
{% endblock %}