{% extends 'base.html.twig' %}

{% block body %}



    <div class="jumbotron">
        <h2 class="center">Bienvenue sur Netflix</h2>
        <h5 class="center text-danger">CONNEXION</h5>
        <hr>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey }}</div>
        {% endif %}
        <form class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" id="username" name="_username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de Passe</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Connexion</button>
            </div>
        </form>
    </div>

{% endblock %}


